#backup.env.j2
#Файл переменных окружения для backup-скрипта.
#На сервере будет храниться как /opt/backup/.backup.env с правами 0600, чтобы не светить пароль БД

MYSQL_HOST={{ mysql_host }}                     #Имя MySQL-хоста в Docker-сети (имя контейнера БД)
MYSQL_DATABASE={{ mysql_database }}             #Имя базы данных, которую нужно резервировать
MYSQL_USER={{ mysql_user }}                     #Пользователь MySQL для выполнения mysqldump
MYSQL_PASSWORD={{ mysql_password }}             #Пароль пользователя MySQL.Значение подставляется из ansible-vault, а не хранится открыто в Git
MYSQLDUMP_OPTS="{{ mysqldump_opts }}"           #Дополнительные параметры mysqldump